@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: georgia;
    background: url('../pics/bg-body.png') #fff;
    background: lightgray;
}

h1{
    font-family: "Lobster",sans-serif;
    text-align: center;
    background: white;
    padding: 40px;
    font-size: 4rem;
    color: rgb(74, 207, 74);
    border-top: 2px dashed rgba(0, 0, 0, 0.3);
    border-bottom: 2px dashed rgba(0, 0, 0, 0.3);
    width: auto;
}

.content{
    justify-content: end;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.page{
    display:inline-block;
    padding: 5px;
    margin: 6px;
    color: black;
    background: white;
    border: 1px solid black;
}

.page:hover{
    background: black;
    color: white;
}

.pagination span{
    background: black;
    color: white;
}

.pagination span:hover{
    background: white;
    color: black;
}

.pagination a{
    text-decoration: none;
}

nav{
    order: 2;
    flex: 20%;
    position: sticky;
    top: 0;
    background: black;
}

nav li{
    text-align: left;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    padding: 15px;

}

nav a{
    color: white;
    text-decoration: none;
}

.recipes{
    display:inline-block;
    order: 2;
    padding-left: 30px;
    padding-right: 30px;
}

.recipe-box{
    background: white;
    flex:45%;
}

aside{
    order: 1;
    flex: 15%;
    flex-wrap: wrap;
}

aside li{
    padding: 10px;
    list-style: none;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

aside a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
/* 
@media(max-width:600px){
    nav{
        flex-flow: row;
        width: 100%;
        flex: 100%;
    }
} */
